doctype html
html
  head
    link(rel="shortcut icon" href="")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://js.arcgis.com/3.25/")
    script(src='./externalJS/multithread.js')
    script(src = './javascripts/table.js')
    script(src="./vendor/terraformer/terraformer.min.js")
    script(src="./vendor/terraformer-arcgis-parser/terraformer-arcgis-parser.min.js")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/blitzer/jquery-ui.css" type="text/css")
    link(rel="stylesheet" href="http://js.arcgis.com/3.25/esri/css/esri.css" type="text/css")
    link(rel="stylesheet" href="http://js.arcgis.com/3.25/dijit/themes/claro/claro.css")
  body
    block content
